<% provide(:title, "拠点編集") %>

<h1>拠点編集</h1>

<%= render partial: 'point_index', locals: {edit: true} %>

<div class="row">
  <div class="col-md-5 col-md-offset-2 panel">
    <button class="btn btn-success btn-lg disabled">拠点情報の追加</button>
  </div>
</div>

