<% provide(:title, "出勤社員一覧") %>

<h1>出勤中の社員</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-condensed table-hover" id="working_users_table">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :employee_id %></th>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |u| %>
          <% u.attendances.each do |a| %>
            <% if working_or_not(a) %>
              <tr>
                <td><%= u.employee_id %>
                <td><%= u.name %></th>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


