<% provide(:title, "ユーザー登録") %>
<% provide(:class_text, "signup") %>
<% provide(:btn_text, "新規作成") %>

<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form', locals: { model: @user } %> 
  </div>
</div>
