table.user-table {
  tr {
    td {
      vertical-align: middle;
      text-align: center;
    }
  }
}

$position: "top", "bottom", "right", "left";
@each $x in $position {
  @for $i from -10 through 10 {
    .mrgn-#{$x}#{$i} {
      margin-#{$x}: #{$i}px;
    }
  }
}

.label-signup {
}

.btn-signup {
}

.lable-user--edit {
}

.btn-user--edit {
}

#table-users {
  td {
    vertical-align: middle;
  }
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

#table-attendances {
  th, td {
    vertical-align: middle;
    text-align: center;
  }
}

