.request-area {
  padding: 5px;
  .notif-border {
    padding: 3px;
    border: 2px solid;
    border-radius: 5px;
    color: red;
  }
}

table.user-table {
  tr {
    td {
      vertical-align: middle;
      text-align: center;
    }
  }
}

$position: "top", "bottom", "right", "left";
@each $x in $position {
  @for $i from -10 through 10 {
    .mrgn-#{$x}#{$i} {
      margin-#{$x}: #{$i}px;
    }
  }
}

.label-signup {
}

.btn-signup {
}

.lable-user--edit {
}

.btn-user--edit {
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

#table-attendances {
  th, td {
    vertical-align: middle;
    text-align: center;
  }
}

.csv-import {
  div.title-import {
    padding-bottom: 10px;
    p {
      text-align: center;
      border-bottom: 1px solid;
    }
  }
}

#table-users .td--user-name {
  vertical-align: middle;
}

#working_users_table {
  th, td {
    text-align: center;
  }
}

