<div id="overtime-request" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="right mrgn-right10 mrgn-top3">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1></h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        </div>
      </div>
    </div>
  </div>
</div>


